/*CONFIGURACIÓN INICIAL Y RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    }
html{
    font-size: 16px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Space+Mono&display=swap'); 
:root{
    --ver: rgb(0, 167, 14);
    --roj: rgb(206, 0, 0);
    --ama: rgb(217, 255, 0);
    --nar: rgb(236, 88, 19);
    --azu: rgb(0, 101, 196);
    --cie: rgb(0, 232, 240);
}
body{
    width: 800px;
    margin: 0 auto; 
 }
*{
    font-family: 'Roboto Mono', monospace;
    font-family: 'Space Mono', monospace;
}
/*CONFIGURACIÓN HEADER*/
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content : center;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5rem;
    color: rgb(185, 16, 50);
    margin: auto; 
}
p{
    color:indianred;
}
#f{
    color: var(--ver);
}
#l{
    color: var(--nar) ;
}
#a{
    color: var(--azu);
}
#g{
    color: var(--ama);
}
#s{
    color: var(--cie);
}
#ref{
    margin-top: -80px;  
    margin-bottom: -80px;
    transform: scale(0.5) translate(-0%, 0%);;
}
/*CONFIGURACIÓN MAIN*/
/**----------------- <SECTION> >MASTER    **/
#master{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content : center;
    height: 400px;
    background-color: rgb(117, 116, 116);
}
/**----------------- Caja A (izda - 9 banderas **/
#A{
    display: flex;
    flex-grow: 3;
    flex-direction: row;
    background-color: rgb(131, 178, 192);
}
/**----------------- Caja B (drcha - 4 banderas **/
#B{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-content : center;
    background-color: rgb(231, 231, 94)
    ;
}
.flag{
    height: 80px;
    width: 160px;
    background-color: rgb(201, 201, 58)
}